.footerStyle {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.83);
    height: 60px;
    color: white;
    padding-right: 20px;
}
.footerLink {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.footerStyle> img {
    height: 30px;
    margin-right: 10px;
}