.genre_badge {
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    border-radius: 15px;
    padding: 10px 5px;
    background-color: rgba(43, 43, 128, 0.38);
    color: white;
    font-size: 13px;
    cursor: pointer;
    width:100px;
}

.numbers {
    color: #ff0000;
    position: static;
    top: -15px;
    left: 15px;
}

.genre_badge:hover {
    background-color: rgb(26,51,100);
    border: 1px solid rgb(26,51,100);
}

.active {
    background-color: rgba(203, 185, 57, 0.7);
    color: snow;
    border: 1px solid #ff1e1e;
}