.Movies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.backBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.backBtn button {
    padding: 10px 20px;
    margin: 0 10px 0 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(43,77,142);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.backBtn button:hover {
    background-color: rgb(26,51,100);
}